:root {
    --primary-color: #f26c4f;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
}

::selection {
    background-color: aquamarine;
    color: var(--white-color);
}

* {
    font-family: 'Raleway';
    color: var(--text-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {}

.app__header {
    background-color: var(--primary-color);
    height: 90vh;
    overflow: hidden;
}

.header__menu {
    z-index: 9;
    display: flex;
    width: 100%;
    padding: 0 22px;
    position: fixed;
    background-color: var(--primary-color);
    top: 0;
}

.header-menu__logo {
    flex: 1;
}

.header-menu__logo>h2 {
    font-size: 28px;
    color: var(--white-color);
    padding-left: 30%;
    padding-top: 18px;
}

.header-menu__main {
    flex: 1;
    list-style: none;
    display: flex;
}

.header-menu-main__item {
    flex: 1;
    transition: 0.4s;
    border-top: 3px solid transparent;
}

.header-menu-main__item>a {
    color: var(--white-color);
    text-decoration: none;
    width: 100%;
    display: block;
    padding-top: 18px;
    padding-bottom: 12px;
    text-align: center;
}

.header-menu-main__item:hover {
    border-top: 3px solid var(--white-color);
}

.header-menu-main__item--active {
    border-top: 3px solid var(--white-color);
}

.header__banner {
    display: flex;
    height: 100%;
    /* position: relative; */
}

.header-banner__title {
    display: flex;
    margin-top: 300px;
    position: relative;
}

.header-banner-title__text {
    margin-left: 200px;
    z-index: 1;
}

.header-banner-title__text::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 180px;
    height: 100%;
    background-color: var(--white-color);
}

.header-banner-title__text>h4 {
    font-size: 42px;
    color: var(--white-color);
    font-weight: 900;
}

.header-banner-title__text>h6 {
    font-size: 22px;
    color: var(--white-color);
    margin-top: 12px;
}

.header-banner__img {
    position: relative;
}

.header-banner-img__planet-orange {
    position: absolute;
    top: 100px;
    left: 20%;
    width: 220px;
    height: 220px;
    animation: planetGrow 8s ease-in-out infinite;
    animation-fill-mode: forwards;
}

.header-banner-img__planet-orange>img {
    width: 100%;
    height: 100%;
}

.header-banner-img__planet-violet {
    position: relative;
    bottom: -180px;
    left: 0;
    width: 480px;
}

.header-banner-img__planet-violet>img {
    width: 100%;
    height: 100%;
}

.header-banner-img__lanch {
    position: absolute;
    top: 128px;
    left: 98px;
    height: 440px;
    animation: lanch 4s ease-in-out infinite;
}

.header-banner-img__lanch>img {
    width: 100%;
    height: 100%;
}

.header-banner-img__star {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 80%;
}

.header-banner-img__star>img {
    width: 100%;
    height: 100%;
}

.app__content {
    display: flex;
    padding-top: 120px;
    align-items: center;
}

.content__text {
    flex: 1;
    text-align: right;
    padding-right: 64px;
}

.content__text>h2 {
    font-size: 42px;
    font-weight: 900;
}

.content__text>p {
    margin-top: 18px;
}

.content-text__link {
    margin-top: 36px;
}

.content-text__link>a {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 0 12px;
    line-height: 32px;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
}

.content-text__link>a:hover {
    opacity: 0.9;
}

.content__img {
    flex: 1;
    /* padding-left: 98px; */
}

.content__img>img {
    width: 80%;
}

.app__footer {
    margin-top: 36px;
    padding: 36px 22px;
    background-color: var(--primary-color);
    display: flex;
}

.footer__service {
    flex: 1;
    margin: 0 24px;
}

.footer__title {
    color: var(--white-color);
    font-weight: 500;
    font-size: 20px;
}

.footer__text>p {
    color: var(--white-color);
    font-size: 16px;
    margin-top: 16px;
}

.footer__contact {
    flex: 1;
    margin: 0 24px;
}

.footer__findus {
    flex: 1;
    margin: 0 24px;
}

@keyframes planetGrow {
    from {
        transform: translate(0, 0);
        width: 200px;
        height: 200px;
    }
    50% {
        transform: translate(54px, 16px);
        width: 220px;
        height: 220px;
    }
    to {
        transform: translate(0, 0);
        width: 200px;
        height: 200px;
    }
}

@keyframes lanch {
    from {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(12px, 0);
    }
    to {
        transform: translate(0, 0);
    }
}